<!DOCTYPE html>
<html lang="pt-br" class="p-3 mb-2 bg-dark text-white">
<head>
    <meta charset="UTF-8">
    <title>Funcionário</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

</head>
<body class="bg-dark">
    <div class="container bg-dark">
        <div class="row">
            <div class="col-sm text-white">
                <h3>Funcionário</h3> 
                <h5 class="badge badge-info p-2" style="font-size: 18px" >Menu do funcionário</h5>
            </div>
            <div class="col-">
                <button onclick="window.location.assign('../login/index.html')" type="button" class="btn btn-danger"> <i class="fas fa-door-open"></i> Logout</button>
            </div>
        </div>
        <div class="container p-3" >

            <div class="row">
                <div class="col">
                    
                    <div class="card" style="width: 15rem;">
                        <img src="../../assets/image/produto.png" class="card-img-top" alt="cadastrar produto">
                        <div class="card-body">
                            <!-- <h5 class="text-dark card-title">Cadastrar Produtos</h5> -->
                            <p class="text-dark card-text"  >Cadastre produtos, adicione valor, marca...</p>
                            <a href="canvas/cadProd/index.html" class="btn btn-primary">Cadastrar Produtos <i class="fas fa-box-open"></i> </a>
                        </div>
                    </div>
                    
                </div>

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="../../assets/image/cliente.png" class="card-img-top" alt="cadastrar cliente">
                        <div class="card-body">
                            <!-- <h5 class="text-dark card-title">Cadastrar Cliente</h5> -->
                            <p class="text-dark card-text" >Cadastre cliente, nome, endereço, idade, sexo...</p>
                            <a href="canvas/cadCli/index.html" class="btn btn-primary">Cadastrar Cliente <i class="fas fa-users"></i> </a>
                        </div>
                    </div>
                </div>
                

                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="../../assets/image/cliente.png" class="card-img-top" alt="cadastrar cliente">
                        <div class="card-body">
                            <!-- <h5 class="text-dark card-title">Cadastrar Cliente</h5> -->
                            <p class="text-dark card-text" >Comprar produtos, nome, quantidade...</p>
                            <a href="canvas/compProd/index.html" class="btn btn-primary">Comprar Produtos <i class="fas fa-users"></i> </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    
</body>
</html>